root_dir: '' # if empty, use current working directory

# --------- Logging Parameters ---------
logging: False # if True, log to wandb
output_dir: ./tmp # directory to save the model, reconstruction images, atlases, etc.
wandb_entity: # wandb entity
project_name: CINeMA # wandb project name
config_data: dhcp_neo_preterm_mm # name of the dataset to use (specified in config_data.yaml)

# --------- Device Parameters ---------
device: cuda
device_dataset: cpu
amp: False
seed: 42

# --------- General Options ---------
generate_cond_atlas: True # if True, generate the spatio-temporal (conditioned) atlas 
mask_reconstruction: True # mask inference reconstruction to remove noisy background
save_certainty_maps: True # if True, save the certainty maps (tissue probability maps)
compute_metrics: True # if True, compute the metrics for subject adaptation (requires GT references for each modality)
save_imgs: # if True, save the reconstruction images for the training/validation set
  train: True 
  val: True
  test: True
save_model: True # if True, save the model to output_dir
load_model: 
  #path: "/home/zhangx/CINeMA/tmp/mra_atlas_20260130_134905_loc"
  path: ""  
  epoch: 200 # which epoch to load

# --------- Data Augmentation Parameters ---------
# not used in the publication.
data_augmentation:
  activate: False
  # individual augmentations
  augment_deformation:
    p: 0
    num_control_points: 0
    max_displacement: 0
  augment_motion:
    p: 0
    degrees: 0
    translation: 0
    num_transforms: 0
  augment_noise: 
    p: 0
    mean: 0
    std: 0
  augment_biasfield:
    p: 0.5
    coeff: 0.5
  augment_gamma: 
    p: 0
    log_gamma: 0

# --------- Optimizer Parameters ---------
optimizer:
  re_init_latents: False # if True, re-initialize latent codes from gaussian distribution after each epoch
  lr_inr: 1.0e-4
  inr_weight_decay: 0.0
  lr_latent: 5.0e-4
  latent_weight_decay: 0.0
  lr_tf: 1.0e-4
  tf_weight_decay: 0.0
  tf_weight: 0.0
  loss_metric: 'l1'
  seg_weight: 1.0
  scheduler:
    type: 'cosine'
    eta_min: 2.5e-5


# --------- INR Decoder Parameters ---------
inr_decoder:
  tf_dim: 6 # 0 = off, 6 = rigid, 9 = rigid + scaling
  cnn_kernel_size: 3 # kernel size for the CNN for spatial modulation, if 0 no CNN is used
  latent_dim: [256, 3, 3, 3] # latent code dimension, [latent_dim, X, Y, Z]
  in_dim: 3 # input dimension of the coordinates, e.g. 3 for 3D images
  out_dim: [1, 11] #(number of modalities (not counting segmentation), number of segmentation channels)
  hidden_size: 1024 # hidden size of the MLP
  num_hidden_layers: 5 # number of hidden layers of the MLP
  modulated_layers: [1, 3, 5] # layers that are modulated by the latent code
  omega: [30, 30] # first and hidden omega of SIREN


# --------- Atlas Generation Parameters ---------
atlas_gen:
  #spacing: [1.5, 1.5, 1.5] # spacing of the atlas in mm
  spacing: [1, 1, 1]
  temporal_values: [20, 30, 40, 50, 60, 70, 80] # steps in the temporal dimension (scan age_min, scan age_max)
  conditions: # conditions to use for the atlas generation (must be specified and activated in config_data.yaml)
    sex:
      values: [0, 1] 
      normed_values: False
    
  # --- Mean Latent Regression ---
  gaussian_span: 5.0 # in weeks. +/- weeks of scan age to cover 95% of the weights, 
                     # i.e. 95% of the latent code of an atlas of age 30 weeks is made up 
                     # of latent codes from subjects with scan age 30 +/- 0.75 weeks, [29.25, 30.75]
  cond_scale: 0.05   # scaling factor for the condition vector 
                     # to adjust condition value range to latent code value range


# --------- Latent Space Analysis ---------
latent_anaylsis: # to predict scan_age from latentcode or explciit conditions during test-time
  activate: False
  predict_scan_age: 'none' #NCA, none for no prediction
  predict_birth_age: 'none' #NCA, none for no prediction, used for implicit birth-age prediction from latent code for ablation study.
  predict_ext_condition: 'none' #'MAE'  # predict a condition for test-time subjects, MAE for birth-age, binary crossentropy for sex, none for no prediction
  ba_regression:
    activate: True
    lr: 5.0e-4
    epochs: 1000


# --------- Training Parameters ---------
n_subjects: # number of subjects to use for training/validation
  train: 200 #92
  val: 3 #52
epochs: # number of epochs for training/validation
  train: 1000
  val: 5 # the num epochs for latent code optimization, redone for each validation cycle)
validate_every: 2
batch_size: 24 # batch size for training/validation (number of subjects per batch)
n_samples: 100000 # number of coordinates in each "inner_batch" sampled across the subejct batch
num_workers: 16 # number of workers for dataloader
